# Contract Addresses (Base Sepolia)
NEXT_PUBLIC_ERC8004_ADDRESS="0x2Ed25321F59106fE67339dF976EaA8fc4489B480"
NEXT_PUBLIC_ERC8183_ADDRESS="0x0Cc4956a6A93636C4F0c06e0302aC1531888093E"

# The Graph Studio - Subgraph API URL
NEXT_PUBLIC_SUBGRAPH_URL="https://api.studio.thegraph.com/query/174442/nexum/version/latest"
